{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,    // 配置了这个，babel就不会像默认那样转变成 require 形式。
        "useBuiltIns": "usage",  // polyfill按需引入
        "corejs": 3
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "babel-plugin-transform-vue-jsx"
  ]
}